@inherits MainLayoutLayoutComponentBase

<CascadingValue Value="@Query" Name="@nameof(Query)">
    <CascadingValue Value="@Property" Name="@nameof(Property)">
        <CascadingValue Value="@Direction" Name="@nameof(Direction)">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <div class="sidebar">
                            <Sidebar OnQueryChanged="@OnSidebarQueryChanged" />
                        </div>
                    </div>

                    <div class="col-9">
                        <main class="main-content" role="main">
                            @Body
                        </main>
                    </div>
                </div>
            </div>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

<NewNoteModal />
