@inherits MainLayoutLayoutComponentBase

<CascadingValue Value="@AppState" Name="@nameof(AppState)">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="sidebar">
                    <Sidebar DefaultLimit="@AppState.Limit" OnQueryChanged="@OnSidebarQueryChanged" />
                </div>
            </div>

            <div class="col-9">
                <main class="main-content" role="main">
                    @Body
                </main>
            </div>
        </div>
    </div>

    <NewNoteModal />

    <DeleteNoteModal Note="@AppState.CurrentNote" OnDeletedClicked="@OnDeleteNoteModalDeleteClickedAsync" />
</CascadingValue>
