@inherits SidebarComponentBase

<nav class="nav flex-column">
    <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
        Note DotNet
    </NavLink>

    <EditForm class="pl-3 pr-3" Model="this" OnSubmit="OnSubmit">
        <div class="input-group mb-3">
            <InputText type="search" class="form-control" placeholder="Search..." @bind-Value="Query"></InputText>
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>

                <button type="button" class="btn btn-success" title="New Note" data-toggle="modal" data-target="#new-note-modal">
                    +
                </button>
            </div>
        </div>

        <div class="input-group mb-3">
            <InputSelect class="form-control" @bind-Value="@Property">
                <optgroup label="Sort by">
                    <option value="@SortProperty.Created">@nameof(SortProperty.Created)</option>
                    <option value="@SortProperty.Updated">@nameof(SortProperty.Updated)</option>
                </optgroup>
            </InputSelect>

            <InputSelect class="form-control" @bind-Value="@Direction">
                <optgroup label="Direction">
                    <option value="@SortDirection.Ascending">@nameof(SortDirection.Ascending)</option>
                    <option value="@SortDirection.Descending">@nameof(SortDirection.Descending)</option>
                </optgroup>
            </InputSelect>

            <GenericInputSelect class="form-control" @bind-Value="@Limit">
                <optgroup label="Limit">
                    @for (int i = 1; i <= 10; i++)
                    {
                        <option value="@i" selected="@(DefaultLimit == i)">@i</option>
                    }
                </optgroup>
            </GenericInputSelect>
        </div>
    </EditForm>
</nav>
