@page "/{Id:int}"
@using NoteDotNet.Web.Helpers

<Loadable TModel="NoteModel" LoadFunc="LoadNoteAsync">
    <NotLoaded>
        <h2>No note selected</h2>
    </NotLoaded>

    <Loading>
        <h2>Loading note</h2>
    </Loading>

    <Loaded Context="note">
        <div class="row pt-3 mb-3">
            <a href="/" class="btn btn-link">
                Cancel
            </a>

            <div class="btn-group">
                <button type="button" class="btn btn-success" @onclick="OnSaveNoteClickedAsync">Save</button>
            </div>

            <span class="page-text">
                Last updated: @note.Updated
            </span>
        </div>

        <div class="row-fluid pt-3">
            <EditForm Model="note">
                <div class="card-group">
                    <div class="card">
                        <h5 class="card-header">
                            Edit
                        </h5>

                        <div class="card-body">
                            <InputTextArea class="form-control edit-note-content" @bind-Value="@note.Content">
                            </InputTextArea>
                        </div>
                    </div>

                    <div class="card">
                        <h5 class="card-header">
                            Preview
                        </h5>

                        <div class="card-body">
                            <p class="card-text">
                                @MarkdownHelper.ToHtml(note.Content)
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <h5 class="card-header">
                            Tags
                        </h5>

                        <div class="card-body">
                            <p class="card-text">
                                <div class="input-group mb-3">
                                    <InputText class="form-control" placeholder="Enter new tag..." @bind-Value="@CurrentTagText" @onkeyup="OnCurrentTagTextKeyUp" />

                                    <div class="input-group-append">

                                        <button type="button" class="btn btn-success" title="Add tag" @onclick="AddTag">
                                            +
                                        </button>
                                    </div>
                                </div>
                            </p>

                            <hr />

                            <p class="card-text lead">
                                @if (!note.Tags.IsNullOrEmpty())
                                {
                                    @foreach (var tag in note.Tags)
                                    {
                                        <span class="badge badge-pill badge-primary">
                                            @tag

                                            <span class="badge badge-pill badge-danger ml-2" title="Delete tag" @onclick="() => OnTagDeleteClicked(tag)">&times;</span>
                                        </span>
                                    }
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </Loaded>

    <Errored Context="exception">
        <div class="row pt-3 mb-3">
            <a href="/" class="btn btn-link">
                Back
            </a>
        </div>

        <h2>@exception.Message</h2>

        <pre>
        <code>@exception</code>
    </pre>
    </Errored>
</Loadable>
